#header
  max-width: (column-width + gutter-width) * columns + gutter-width
  margin: 0 auto
  height: 34px
  padding: 0 gutter-width
  padding-top: 10px
  padding-bottom: 30px

#logo
  font-size: 24px
  color: #000
  text-decoration: none